$fuente_principal: "Roboto", sans-serif;

// $fondo: #e8ddbd;
// $letras: #F6AA1C;
// $fondoOscuro: #2c3e50;
// $colorNav: #9d1d36;
// $grisclaro: #c2c2c2;
// $fondocard: rgba(110, 144, 118, 0.184);
// $blanco: #f0f8ff;
// $rojotinto: #220901;
// $rojomenostinto: #621708;
// $rojito: #941B0C;
// $naranja: #BC3908;
// $patito: #F6AA1C;
// $black:#000;
// $fondobotones: #a9b79eb7;

// $verde: #29a237;
// $verdeOscuro: #1b5a23;
// $morado: #663a8f;
// $grisoscuro: #3a3a3a;
// $grisclaro: #e1e1e1;
// $rojo: #c53838;


//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

