.footer-bg{
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #181818;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 5px;
}

.p-footer{
    color: rgb(255, 249, 237);
    font-size: 15px;
}

@media (max-width: 300px) {
    .p-footer {
        font-size: 13px;
    }
}
