.bg-form-login{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.info-container-login{
    display: flex;
    justify-content: center; 
    text-align: center;
    background: linear-gradient(195deg, #49a3f1, #1A73E8);;
    margin-top: -40px;
    border-radius: 9.5px;
    box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14),0rem 0.4375rem 0.625rem -0.3125rem rgba(76, 175, 79, 0.4);
    height: 80px;
}
.info-container-login > h3 {
    margin-top: 3vh;
    color: white;
}

.div-google-btn {
    display: flex;
    justify-content: center;
}