.bgcontainer{
    background-image: linear-gradient(195deg, rgba(66, 66, 74, 0.6), rgba(25, 25, 25, 0.6)), url('../../../assets/images/bg-sign-in-basic.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    opacity: 0.99;
    min-height: 100%;
} 

.bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fuentes{
    color: white;
}

// .bgcontainer.zoom-out {
//     transform: scale(1.2); /* Ajusta el valor según tu preferencia de zoom out */
//   }