.bgcontainermenuregister{
    display: flex;
    justify-content: center;
    height: 390px;
}

.register-container{
    display: flex;
    background-image: linear-gradient(195deg, rgba(66, 66, 74, 0.4), rgba(25, 25, 25, 0.4)), url('../../images/bg-sign-up-cover.jpeg');
    width: 98.5%;
    justify-content: space-around;
    border-radius: 9.5px;
    margin: 18px 0; 
    min-height: 35vh;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu2-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.menu1-register{
    margin-left: 250px;
}

.menu3-register{
    margin-right: 250px;
}