.perfil-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 100px;
  z-index: 1;
}
.perfil-picture-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.snip1336 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  min-width: 600px;
  max-width: 1000px;
  width: auto;
  text-align: left;
  line-height: 1.6em;
  background-color: white;
  top: 0%;
  border-radius: 15px;
}

.snip1336 img {
  border-radius: 15px;
  max-height: 400px;
  box-shadow: 0 0 5px rgba(38, 37, 37, 0.3);
}
.snip1336 figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  background-color: rgb(212, 210, 210);
  padding: 25px;
  height: auto;
  border-radius: 15px;
  position: absolute;
  margin-top: 250px;
}
.snip1336 figcaption a {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  font-size: 0.7em;
  opacity: 0.65;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #ffffff;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: relative;
  z-index: 1;
  max-width: 80px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
  color: black;
}
.snip1336 h2 span {
  display: block;
  margin: 0px;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(41, 41, 42);
  font-weight: 400;
}
.snip1336 p {
  margin: 0 0 10px;
  margin-top: 0px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  color: black;
}
.profile-body-data {
  display: flex;
  align-items: center;
}
.profile-p-wrapper {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
}
.profile-p-second-wrapper {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
}
.vertical-line {
  border-left: 1px solid rgb(159, 157, 157);
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.input-toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.input-toggle-label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.input-toggle:checked + label {
  background: #728535;
}

.input-toggle:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.input-toggle-label:active:after {
  width: 30px;
}
.perfil-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.pencil-icon:hover {
  cursor: pointer;
}
.tooltip {
  position: absolute;
  top: calc(100% + 5px);
  left: 100%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.perfil-edit:hover .tooltip {
  opacity: 1;
}
@media screen and (min-width: 1600px) {
  .snip1336 {
    line-height: 2em;
    font-size: x-large;
    width: 100%;
    max-width: 1300px;
    right: 1%;
    
  }
  /* .snip1336 figcaption {
    height: 400px;
  } */
}
@media screen and (max-width: 1500px) {
  .snip1336 {
    min-width: 600px;
    max-width: 1050px;
    width: 100%;
    left: 2%;
    font-size: large;
  }
}
@media screen and (max-width: 1370px) {
  .snip1336 {
    min-width: 600px;
    max-width: 900px;
    left: 3%;
  }
}
@media screen and (max-width: 1200px) {
  .snip1336 {
    min-width: 600px;
    max-width: 800px;
    left: 3%;
  }
  /* .snip1336 figcaption {
    height: 300px;
  } */
}
@media screen and (max-width: 1200px) {
  .snip1336 {
    min-width: 600px;
    max-width: 700px;
    left: 4%;
  }
}
@media screen and (max-width: 960px) {
  .snip1336 {
    max-width: 600px;
    left: 5%;
  }
  /* .snip1336 figcaption {
    height: 350px;
  } */
}
/* LLEGA A 850 PX COMO RESPONSIVE */
